<div class="container">
    <div class="row">
        <div class="col-sm-8" ng-init="getMessages()">
            <h3>Chat history <span ng-if="selectedUser != undefined">with {{selectedUser.username}}</span></h3>
            <p ng-if="selectedUser == undefined"><span class="label label-info">Please, select an user to chat with!</span></p>
            <ul class="list-unstyled" ng-repeat="message in messages">
                <li ng-click="selected(user)">{{message.sender}} : {{message.message}}</li>
            </ul>
            <form role="form">
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="input1">Message</label>
                        <input type="text" name="contact_name" class="form-control" id="input1" ng-model="message.text" ng-disabled="selectedUser == undefined">
                    </div>
                    <div class="form-group col-lg-3">
                        <button type="button" class="btn btn-primary" ng-click="sendMessage(message)" ng-disabled="selectedUser == undefined">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <h3>Users</h3>
            <ul class="list-unstyled" ng-repeat="user in users">
                <li><a href="" ng-click="selected(user)">{{user.username}}</a></li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>How does this works?</h4>
            <ol>
                <li>First of all select a user to talk to</li>
                <li>Then, write your message in the input field and click on send button</li>
                <li>Please, to send a message click on the button instead of pressing intro key</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->