<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                <h3>Please, select your username</h3>
                <form role="form" method="POST" action="#">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <input type="text" name="contact_name" class="form-control" id="input1" ng-model="user.username">
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="hidden" name="save" value="contact">
                            <button type="button" class="btn btn-primary" ng-click="login(user)">Start chatting!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->

        <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>Read me!!!</h4>
            <ol>
                <li>Four users have been stored in the database, no registration allowed, you can login by using "john", "jane", "peter", "michael" as login</li>
                <li>Default password for every user is "pass", it has been hardcoded, don't blame me!</li>
                <li>HTTP Basic Auth has been implemented with AngularJS + SlimPHP</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    </div>
    <!-- /.container -->
    
</div>
<!-- /.section -->